*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	font: 400 normal 16px/1.2 'Open Sans', sans-serif;
	color: whitesmoke;
}
:disabled {
	opacity: 0.5;
	pointer-events: none;
}
input {
	background: transparent;
	font: inherit;
	color: inherit;
	border: none;
	padding: 0.5rem 0;
	border-bottom: 1px solid rgba(245, 245, 245, 0.3);

	&:focus {
		background: transparent;
		font: inherit;
		color: inherit;
		border: none;
		border-bottom: 1px solid rgba(245, 245, 245, 0.5);
	}
}
button {
	background: none;
	font: inherit;
	color: dodgerblue;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;

	&:hover,
	&:focus {
		background: rgba(255, 255, 255, 0.1);
	}
	&:active {
		background: whitesmoke;
	}
}
a {
	color: dodgerblue;
	cursor: pointer;

	&:hover,
	&:focus {
		color: lighten(dodgerblue, 10%);
	}
}


body {
	display: flex;
	flex-flow: column nowrap;
}
header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 50px;
	padding: 0 1rem;
	background: #222;
	border-bottom: 2px solid dodgerblue;
	box-shadow: 0px 3px 5px 0px black;
	z-index: 100;
}
.header-separator {
	height: 50%;
	margin: 0 1rem;
	border-left: 1px solid rgba(245, 245, 245, 0.3);
}

.screen-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

main {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	overflow: auto;
	background: #222;
	padding: 0.5rem;
}
.item {
	//min-width: 150px;
	//min-height: 150px;
	margin: 0.5rem;
	cursor: pointer;
}
[data-lazy] {
	width: 150px;
	height: 150px;
	background: lightsteelblue;
}
.item-selected {
	opacity: 0.3;
	border-bottom: 2px solid dodgerblue;
}

.backdrop {
	z-index: 199;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(55, 61, 73, 0.8);
}
.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	max-width: 90%;
	min-height: 200px;
	max-height: 90%;
	display: flex;
	flex-flow: column nowrap;
	background: #222;
	border-bottom: 2px solid dodgerblue;
	box-shadow: 0px 3px 5px 0px black;
	z-index: 200;
}
.dialog-nobg {
	background: none;
	border: none;
	box-shadow: none;
}
.dialog-header {
	min-height: 50px;
	text-align: center;
	padding: 1rem;
}
.dialog-content {
	flex: 1;
	padding: 1rem;
	overflow: auto;
}
.dialog-footer {
	text-align: right;
	padding: 0.5rem;
}
.badge {
	display: inline-block;
	margin: 0.2rem;
	padding: 0.3rem;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}
